@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);
@import url(https://unpkg.com/material-components-web@0.31.0/dist/material-components-web.min.css);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 10px 15px;
    margin: 0 auto;
    @media (min-width: 1024px) {
        width: 975px;
    }
}

@mixin sticky($top, $z-index) {
    position: -webkit-sticky;
    position: sticky;
    top: $top;
    display: block;
    background-color: #fff;
    z-index: $z-index;
    padding: 5px;
}

.sticky-subheader {
    @include sticky(103px, 1);
    @media (max-width: 1023.98px) {
        top: 95px;
    }
}

.sticky-header {
    @include sticky(63px, 2);
    @media (max-width: 1023.98px) {
        top: 55px;
    }
}

.sticky-progress {
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 100;
    .mdc-linear-progress__bar-inner {
        background-color: red;
    }
    .mdc-linear-progress__buffering-dots {
        background: none !important;
    }
    .mdc-linear-progress__buffer {
        background: none !important;
    }
}
